<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>AppView</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>


    <link rel="stylesheet" href="css/app.css"/>
    <link rel="stylesheet" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>

</head>
<body>

<div class="container">
    <h2> Order List</h2>
    <span th:text="${serverTime}"></span> || <span th:text="${username}"></span>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="form-group col-lg-2">
                    <label for="startDate" class="control-label">Start date</label>

                    <div class="input-group">
                        <input type="text" id="startDate" class="form-control date-input"/>
                        <label class="input-group-btn" for="startDate">
                            <span class="btn btn-default">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </label>
                    </div>
                </div>

                <div class="form-group col-lg-2">
                    <label for="endDate" class="control-label">End date</label>

                    <div class="input-group">
                        <input type="text" id="endDate" class="form-control date-input"/>
                        <label class="input-group-btn" for="endDate">
                            <span class="btn btn-default">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </label>
                    </div>
                </div>

                <div class="form-group col-lg-3">
                    <label for="clientName" class="control-label">Client Name</label>
                    <input type="text" id="clientName" class="form-control"/>
                </div>

                <div class="form-group col-lg-2">
                    <label for="phone" class="control-label">Phone</label>
                    <input type="text" id="phone" class="form-control"/>
                </div>

                <div class="form-group col-lg-3">
                    <label for="eMail" class="control-label">E-mail</label>
                    <input type="text" id="eMail" class="form-control"/>
                </div>

            </div>
            <div class="row">
                <div class="col-md-12 center-block">
                    <button id="btnSearch" class="btn btn-primary center-block">
                        Search
                    </button>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="form-group col-lg-12">
            <table class="table table-click" id="orderTable">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Client Name</th>
                    <th scope="col">Phone</th>
                    <th scope="col">E-mail</th>
                    <th scope="col">Total Value</th>
                </tr>
                </thead>
                <tbody>
                <tr onclick="openModel();">
                    <td>01/11</td>
                    <td>Otto</td>
                    <td>11 2427-6787</td>
                    <td>teste@gmail.com</td>
                    <td>11</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


    <div class="modal fade" id="modalId" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Order Details</h4>
                </div>
                <div class="modal-body">
                    <div class="form-data table-responsive">
                        <div class="form-group col-lg-4">
                            <label class="control-label">Client Name: </label>
                            <span id="spanClientName"></span>
                        </div>
                        <div class="form-group col-lg-4">
                            <label class="control-label">Phone: </label>
                            <span id="spanPhone"></span>
                        </div>
                        <div class="form-group col-lg-4">
                            <label class="control-label">E-mail: </label>
                            <span id="spanEmail"></span>
                        </div>
                    </div>
                    <div class="form-data table-responsive">
                        <div class="container-fluid">
                            <table class="table table-bordered">
                                <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Description</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Unit Price</th>
                                    <th scope="col">Total</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>teste</td>
                                    <td>1</td>
                                    <td>12</td>
                                    <td>11</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="webjars/jquery/3.1.1/jquery.min.js"></script>
<script src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="webjars/bootstrap-datepicker/1.0.1/js/bootstrap-datepicker.js"></script>
<script src="js/app.js"/>

<link rel="stylesheet" href="webjars/bootstrap-datepicker/1.0.1/css/datepicker.css"/>

</body>

</html>